
@font-face {
	font-family: "Merriweather-LightIt";
	src: url("../fonts/Merriweather-LightIt.ttf");
}

@font-face {
	font-family: "Montserrat-Regular";
	src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "ProximaNovaRegular";
	src: url("../fonts/ProximaNovaRegular.ttf");
}

@font-face {
      font-family: "Proxima Nova Bold";
      src: url("../fonts/Proxima Nova Bold.otf");
}

@font-face {
      font-family: "Roboto-Light";
      src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
      font-family: "Roboto-Medium";
      src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
      font-family: "Roboto-Regular";
      src: url("../fonts/Roboto-Regular.ttf");
}

