$main-color: #83a7a5;
$white-color: #ffffff;
$accent-color: #0f5f5c;
$green-color: #6fb048;
$grey-color: #eef1ec;
$dark-grey: #6b7f7f;
$link-hover: #6b8282;
$white-grey: #cfd3d3;
$dark-green: #0f5f5c;
$blue: #c1d3d2;
$light-blue: #55acee;
$dark-blue: #3b5998;
$insta: #3f729b;
$pink: #ea4c89;
$black: #333333;
$down-color: #49732f;
$line: #b8ccc8;